<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Search</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <div class="product-search row">
            <!-- Product Search Title -->
            <div class ="col-2 d-none d-lg-block"></div>
            <div class = "col-12 col-lg-8">
                <h2 class="mb-4">Product Search</h2>
                <form [formGroup]="productForm" (ngSubmit)="onSearch()">
                    <!-- Keyword Section -->
                    <div class="form-group row mb-3">
                        <label for="keyword" class="col-md-3 col-form-label">Keyword<span class="text-danger">*</span></label>
                        <div class="col-md-9">
                            <input type="text" formControlName="keyword" class="form-control" id="keyword" placeholder="Enter Product Name (eg. iPhone 8)" required>
                            <div *ngIf="productForm.controls['keyword'].invalid && productForm.controls['keyword'].touched" class="text-danger">
                                Please enter a keyword
                            </div>                        
                        </div>
                    </div>
                    <!-- Category Section -->
                    <div class="form-group row mb-3">
                        <label for="category" class = "col-md-3 col-form-label">Category</label>
                        <div class = "col-md-3">
                            <select formControlName="category" class="form-control">
                                <option selected>All Categories</option>
                                <option>Art</option>
                                <option>Baby</option>
                                <option>Books</option>
                                <option>Clothing, Shoes & Accessories</option>
                                <option>Computers/Tablets & Networking</option>
                                <option>Health & Beauty</option>
                                <option>Music</option>
                                <option>Video Games & Consoles</option>
                            </select>
                        </div>
                        <div class = "col-md-6"></div>
                    </div>
                    <!-- Condistion Section -->
                    <div class="form-group row mb-3">
                        <label class="col-md-3 col-form-label">Condition</label>
                        <div class="col-md-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" formControlName="newCondition" name="condition" id="new" value="new">
                                <label class="form-check-label" for="new">New</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" formControlName="usedCondition" name="condition" id="used" value="used">
                                <label class="form-check-label" for="used">Used</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" formControlName="unspecifiedCondition" name="condition" id="unspecified" value="unspecified">
                                <label class="form-check-label" for="unspecified">Unspecified</label>
                            </div>
                        </div>
                    </div>
                    <!-- Shipping Options Section -->
                    <div class="form-group row mb-3">
                        <label class="col-md-3 col-form-label">Shipping Options</label>
                        <div class="col-md-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" formControlName="localpickup" value="localpickup" id="localpickup">
                                <label class="form-check-label" for="localpickup">Local Pickup</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" formControlName="freeshipping" value="freeshipping" id="freeshipping">
                                <label class="form-check-label" for="freeshipping">Free Shipping</label>
                            </div>
                        </div>
                    </div>
                    <!-- Distance Section -->
                    <div class="form-group row mb-3">
                        <label for="distance" class = "col-md-3 col-form-label">Distance (Miles)</label>
                        <div class = "col-md-3">
                            <input type="number" class="form-control" formControlName="distance" id="distance" placeholder="10">
                        </div>
                        <div class = "col-md-6"></div>
                    </div>
                    <!-- From Section -->
                    <div class="form-group row mb-3">
                        <label for="from" class="col-md-3 col-form-label">From<span class="text-danger">*</span></label>
                        <div class="col-md-9">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="type" value="currentLocation" id="currentLocation" name="From" checked (change)="getCurrentLocation()">
                                <label class="form-check-label" for="currentLocation">Current Location</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="type" value="otherLocation" id="otherLocation" name = "From">
                                <label class="form-check-label" for="otherLocation">Other. Please specify zip code:</label>
                            </div>
                            <input 
                            type="text" 
                            formControlName="zipcode" 
                            class="form-control mt-2" 
                            placeholder="Zip code"
                            [class.is-invalid]="productForm.controls['zipcode'].invalid && productForm.controls['zipcode'].touched" 
                            (input)="onZipcodeChange($event.target.value)" 
                            required 
                            pattern="\d{5}" />
                          
                          <!-- Autocomplete suggestions -->
                          <ul *ngIf="zipcodeSuggestions.length > 0" class="list-group">
                            <li *ngFor="let suggestion of zipcodeSuggestions" 
                                class="list-group-item list-group-item-action" 
                                (click)="selectZipcodeSuggestion(suggestion)">
                              {{ suggestion }}
                            </li>
                          </ul>
                          
                          <div *ngIf="productForm.controls['zipcode'].errors && productForm.controls['zipcode'].touched" class="invalid-feedback">
                            <div *ngIf="productForm.controls['zipcode'].errors['required']">Please enter a zip code</div>
                            <div *ngIf="productForm.controls['zipcode'].errors['pattern']">Zip code must be 5 digits</div>
                          </div>
                          
                        </div>
                    </div>
                    <!-- Search & Clear Section -->
                    <div class="form-group text-start row">
                        <button type="submit" [disabled]="productForm.invalid" class="btn btn-secondary col-2">
                        <i class="material-icons">search</i>    Search
                        </button>
                        <div class = "col-1"></div>
                        <button type="reset" class="btn btn-light col-2">
                            <i class="material-icons">clear_all</i>Clear
                        </button>
                        <div class = "col-5"></div>
                    </div>
                    
                </form>
            </div>
            <div class = "col-2 d-none d-lg-block"></div>
        </div>
        
        <!-- For results and wish list buttons -->
        <div class="text-center mt-3">
            <button 
                class="btn mr-2" 
                [ngClass]="{'btn-dark': activeTab === 'results', 'btn-light': activeTab !== 'results'}" 
                (click)="showResults()">Results</button>

            <button 
                class="btn" 
                [ngClass]="{'btn-dark': activeTab === 'wishlist', 'btn-light': activeTab !== 'wishlist'}" 
                (click)="showWishlist()">Wish List</button>
        </div>
    </div>

    <!-- Results Tab -->
    <div *ngIf="displayResults">
        <div *ngIf="searchResults.length > 0; else noRecords">
            <table class = "table table-dark table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Shipping</th>
                        <th>Zip</th>
                        <th>Wish List</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of searchResults">
                        <td>{{ item.index }}</td>
                        <td>
                            <a href="{{item.image}}" target="_blank">
                                <img [src]="item.image" alt="Item Image" class="img-large">
                            </a>
                        </td>
                        <td>
                            <a href="#" 
                                [title]="item.title" 
                                style="color: #6495ED; cursor: pointer;" 
                                (click)="onProductTitleClick(item.itemId); $event.preventDefault()">
                                    {{ item.title }}
                            </a>
                        </td>
                        <td>${{ item.price }}</td>
                        <td>{{ item.shipping }}</td>
                        <td>{{ item.zip }}</td>
                        <td><button (click)= "addToWishlist(item)">Add to Wishlist</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Error Tab -->
        
        <ng-template #noRecords>
            <div class = "row" *ngIf= "noRecordsFound">
                <div class ="col-1"></div>
                <div class = "col-10">
                    <div class="text-start mt-5">
                        <p class="no-records">No Records.</p>
                    </div>
                </div>
                <div class ="col-1"></div>
            </div>
        </ng-template>
    </div>
    <!-- Wishlist Tab -->
    <div *ngIf="displayWishlist">
        <table class = "table table-dark table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Shipping Option</th>
                    <th>Favorite</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of wishlist; let i = index">
                    <td>{{ item.index }}</td>
                    <td>
                        <a href="{{item.image}}" target="_blank">
                            <img [src]="item.image" alt="Item Image" class="img-large">
                        </a>
                    </td>                    
                    <td>
                        <a href="#" 
                            [title]="item.title" 
                            style="color: #6495ED; cursor: pointer;" 
                            (click)="onProductTitleClick(item.itemId); $event.preventDefault()">
                                {{ item.title }}
                        </a>
                    </td>
                    <td>${{ item.price }}</td>
                    <td>{{ item.shipping }}</td>
                    <td><button (click)= "removeFromWishlist(i)">Remove From Wishlist</button></td>
                </tr>
            </tbody>
        </table>
    </div>   
    <!-- Product Details Section -->
    <div *ngIf="productDetails">
        <button  class = 'btn btn-light' (click)="backToList()"> &lt; List</button>
        <div class="d-flex justify-content-end">
            <div class="tab-buttons">
                <button class = 'btn' [ngClass]="{'btn-dark': activeTab === 'product', 'btn-light': activeTab !== 'product'}" (click)="changeTab('product')">Product</button>
                <button class = 'btn' [ngClass]="{'btn-dark': activeTab === 'photos', 'btn-light': activeTab !== 'photos'}" (click)="onPhotosTabClick()">Photos</button>
                <button class = 'btn' [ngClass]="{'btn-dark': activeTab === 'shipping', 'btn-light': activeTab !== 'shipping'}" (click)="changeTab('shipping')">Shipping</button>
                <button class = 'btn' [ngClass]="{'btn-dark': activeTab === 'seller', 'btn-light': activeTab !== 'seller'}" (click)="changeTab('seller')">Seller</button>
                <button class = 'btn' [ngClass]="{'btn-dark': activeTab === 'similar', 'btn-light': activeTab !== 'similar'}" (click)="changeTab('similar')">Similar Products</button>
            </div>
        </div>
        <!-- Facebook button and Wishlist button here... -->
        <div class="tab-content">
            <!-- Product Tab -->
            <div *ngIf="activeTab === 'product'">
                <table class = "table table-dark table-striped">
                    <tbody>
                        <tr>
                            <td>Product Images</td>
                            <td>
                                <a href="{{productDetails.ProductImages}}" target="_blank">
                                    View Product Images here
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>{{ productDetails.Price }}</td>
                        </tr>
                        <tr>
                            <td>Location</td>
                            <td>{{ productDetails.Location }}</td>
                        </tr>
                        <tr>
                            <td>Return Policy (US)</td>
                            <td>
                                Accepted: {{ productDetails.ReturnPolicy.ReturnsAccepted }}
                                Within: {{ productDetails.ReturnPolicy.ReturnsWithin }}
                            </td>
                        </tr>
                        <tr *ngFor="let spec of productDetails.ItemSpecifics">
                            <td>{{ spec.Name }}</td>
                            <td>{{ spec.Value.join(", ") }}</td>
                        </tr>
                    </tbody>
                    </table>
            </div>
          
            <!-- Photos Tab -->
            <div *ngIf="activeTab === 'photos'" class="tab-pane fade show active">
                <div class="container">
                    <div class="row">
                        <div *ngFor="let photo of photos; let i = index" class="col-md-4 mb-4">
                            <!-- Each photo in a column -->
                            <a href="{{photo}}" target="_blank">
                                <img class="img-fluid border border-dark border-5" [src]="photo" alt="Product Image" style="width: 100%; height: auto;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

  

            <!-- Shipping Tab -->
            <div *ngIf="activeTab === 'shipping'">
                <table class="table table-dark table-striped">
                <tbody>
                    <tr *ngIf="productDetails?.shippingServiceCost">
                        <td>Shipping Cost</td>
                        <td>{{ productDetails.shippingServiceCost}}</td>
                    </tr>
                    <tr *ngIf="productDetails?.shipToLocations">
                        <td>Shipping Locations</td>
                        <td>{{ productDetails.shipToLocations.join(', ') }}</td>
                    </tr>
                    <tr *ngIf="productDetails?.handlingTime">
                        <td>Handling Time</td>
                        <td>{{ productDetails.handlingTime }} {{ productDetails.handlingTime === 1 ? 'Day' : 'Days' }}</td>
                    </tr>
                    <tr *ngIf="productDetails?.expeditedShipping !== undefined">
                        <td>Expedited Shipping</td>
                        <td>
                            <span [class.true-icon]="productDetails.expeditedShipping" [class.false-icon]="!productDetails.expeditedShipping">
                                {{ productDetails.expeditedShipping ? '✓' : '✗' }}
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="productDetails?.oneDayShippingAvailable !== undefined">
                        <td>One Day Shipping</td>
                        <td>
                            <span [class.true-icon]="productDetails.oneDayShippingAvailable" [class.false-icon]="!productDetails.oneDayShippingAvailable">
                                {{ productDetails.oneDayShippingAvailable ? '✓' : '✗' }}
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="productDetails?.ReturnPolicy?.ReturnsAccepted !== undefined">
                        <td>Return Accepted</td>
                        <td>
                            <span [class.true-icon]="productDetails.ReturnPolicy.ReturnsAccepted" [class.false-icon]="!productDetails.ReturnPolicy.ReturnsAccepted">
                                {{ productDetails.ReturnPolicy.ReturnsAccepted ? '✓' : '✗' }}
                            </span>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
  

            <!-- Seller Tab -->
            <div *ngIf="activeTab === 'seller'">
                <table class="table table-dark table-striped">
                <tbody>
                    <tr>
                        <td colspan="2" class="text-center fw-bolder fs-4 store-name">
                            {{ getFormattedStoreName() }}
                        </td>
                    </tr>
                    <tr *ngIf="productDetails?.FeedbackScore">
                    <td>Feedback Score</td>
                    <td>{{ productDetails.FeedbackScore }}</td>
                    </tr>
                    <tr *ngIf="productDetails?.PositiveFeedbackPercent">
                    <td>Popularity</td>
                    <td>
                    <div class = "progress-wrapper">
                        <round-progress 
                        [current]="productDetails.PositiveFeedbackPercent"
                        [max]="100"
                        [color]="'#2ccb30'"
                        [radius]="25"
                        [stroke]="4"
                        [rounded]="true"
                        [clockwise]="true"
                        [responsive]="false"
                        [duration]="400"
                        [animation]="'easeInOutQuart'"
                        [animationDelay]="0">
                        </round-progress>
                        <div class="progress-text">{{ productDetails.PositiveFeedbackPercent }}%</div>
                    </div>
                    </td>
                    </tr>
                    <tr *ngIf="productDetails?.FeedbackRatingStar">
                    <td>Feedback Rating Star</td>
                    <td>
                    <i class="material-icons" [ngClass]="getStarColor(productDetails.FeedbackScore)">
                        {{ productDetails.FeedbackScore >= 10000 ? 'stars' : 'star_border' }}
                    </i>
                    </td>

                    </tr>
                    <tr *ngIf="productDetails?.TopRatedSeller !== undefined">
                        <td>Top Rated Seller</td>
                        <td>
                          <span [ngClass]="productDetails.TopRatedSeller ? 'true-icon' : 'false-icon'">
                            {{ productDetails.TopRatedSeller ? '✓' : '✗' }}
                          </span>
                        </td>
                      </tr>
                      
                    <tr *ngIf="productDetails?.StoreName">
                    <td>Store Name</td>
                    <td>{{ productDetails.StoreName }}</td>
                    </tr>
                    <tr *ngIf="productDetails?.StoreURL">
                    <td>Buy Product At</td>
                    <td><a href="{{ productDetails.StoreURL }}" target="_blank">Store</a></td>
                    </tr>
                </tbody>
                </table>
            </div>
  
          
            <!-- Similar Products Tab -->
            <div *ngIf="activeTab === 'similar'">
              <!-- Similar products here -->
            </div>
          </div>
        
    </div>

   
    
</body>

</html>